@import './settings.scss';

body {
    background-color: $main-color;
    color: $color-dark;
    margin: 0;
}

.container {
    max-width: 90vw;
    max-height: 90vh;
    margin-left: 4vw;
    margin-top: 5vh;
    padding: 10px;
    border: solid 3px black;
    border-radius: 5px;
}