$main-color:  #ACB7FF;
$second-color: #BEEAF5;
$second-color-hover: #ADD9E4; 
$color-dark:  black;
$color-light: white;
$color-correct: #2FA614;
$color-wrong: red;
$color-clock: #0A1BAF;

$base-size: 16px;

$font-text: 'Noto Sans HK', sans-serif;